body {
    background-image: url('img.jpg');
    background-size: cover;
    margin: auto 0;
    -webkit-animation: slide-bottom 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
        opacity: 1;
    }
  }

  @keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
        
    }
  }

header {
    font-family: 'Bad Script', cursive;
    text-shadow: 0 5px 0 rgb(255, 255, 255);
    color: black;
}

.main-title {
    display: inline;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}

h1 {
    margin: auto 0;
}

.sub-title {
    display: block;
    text-align: center;
    font-size: 150%;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 100px;
    padding-bottom: 20px;
}

.modaltitle {
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    font-size: 150%;
    text-shadow: 0 0 20px black;
}

.modaltitle:hover {
    cursor: pointer;
    color: white;
}

.text {
    font-family: 'Dosis', cursive;
    font-size: 18px;
}

.text-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 25px
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    padding: 0 200px;
}

.input-func {
    text-align: center;
    padding: 20px 50px;
    background-color: rgba(85, 85, 85, 80%);
    border-radius: 20px;
    text-shadow: 0 0 10px white;
}

.list {
    padding: 20px 50px;
    background-color: rgba(85, 85, 85, 80%);
    border-radius: 20px;
}

.input {
    font-family: 'Patrick Hand SC', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

#hasExpDateText {
    font-family: 'Patrick Hand SC', cursive;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 0 0 10px white;
}

#noExpDateText {
    font-family: 'Patrick Hand SC', cursive;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 0 0 10px white;
}

#expiry-block {
    visibility: hidden;
}

#date-pao-block {
    visibility: hidden;
    z-index: 1;
    margin-top: -80px;
}

.btn {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}

.btn:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

#table {
    overflow: scroll;
}

#product-name-title {
    width: 200px;
    text-align: center;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 25px;
    text-shadow: 0 0 10px white;
}

#expiry-date-title {
    width: 150px;
    text-align: center;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 25px;
    text-shadow: 0 0 10px white;
}

#blank {
    width: 20px;
}

td {
    text-align: center;
    font-family: 'Dosis', cursive;
    font-size: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    margin: 0 auto;
}
  
/* Modal Content/Box */
#modal-content1 {
    background-color: #000000;
    color: white;
    top: 0;
    left: 0;
    margin: 7.5% auto;
    border-radius: 30px;
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
}

#modal-content2 {
    background-color: #000000;
    color: white;
    top: 0;
    left: 0;
    margin: 14% auto;
    border-radius: 30px;
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
}

#modal-content3 {
    background-color: #000000;
    color: white;
    top: 0;
    left: 0;
    margin: 13% auto;
    border-radius: 30px;
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: pink;
    font-size: 40px;
    text-decoration: none;
    cursor: pointer;
}