body {
    background-color: pink;
}

.main-title {
    display: block;
    text-align: center;
    text-shadow: 0 0 20px yellow;
    font-family: 'Pacifico', cursive;
    font-size: 250%;
}

.sub-title {
    display: block;
    text-align: center;
    font-family: 'Meow Script', cursive;
    font-size: 200%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 100px;
   
}

#how-to-use {
    display: block;
    text-align: center;
}

#info {
    display: block;
    text-align: center;
}

#about {
    display: block;
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 100px 0;
}

.input-func {
    text-align:center;
}

.text, .input {
    font-family: 'Cormorant Garamond', serif;
    font-size: 120%;
}

.popuptitle {
    font-family: 'Permanent Marker', cursive;
    font-size: 150%;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 630px;
    height: 100px;
    background-color: rgba(85, 85, 85, 50%);
    color: #fff;
    border-radius: 6px;
    padding: 50px;
    position: absolute;
    z-index: 1;
    top: 200%;
    left: -430px;
    margin-left: -80px;
}
  
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
  
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#expiry-block {
    visibility: hidden;
}

#date-pao-block {
    visibility: hidden;
}